<%- include('nav.ejs') %>

<!-- recipes.ejs -->
    <body>
        <p class="hiddenData">
            <%= is21 %>
        </p>
        <h1 class="recipeHeader">Recipes</h1>

        <div class="recipes">
            <% recipes.forEach(function(recipe) { %>
                <div class="singleRecipe">
                    <div class="blurHolder<% if (is21 == false){if(recipe.alcoholic === 'alcoholic') { %> blurRecipe<% }} %>">
                        <!-- blur holder holds EVERYTHING NEEDED FOR SIZING and NOTHING NOTHING NOTHING NOTHING NOTHING I CANOT STRESS THIS ENOUGH KEELS BRAGA ALL THE BLUR CODE NEEDS TO GO INSIDE .blurRecipe in ur css file -->

                        <% if (recipe.filepath){ %>
                            <img src="<%= recipe.filepath %>" alt="Uploaded Image">
                            <% } %>

                                <div class="recipeListInfo">

                                    <a class="recipeListA" href="/recipes/<%= recipe._id %>?is21=<%= is21 %>">
                                        <h2>
                                            <%= recipe.name %>
                                        </h2>
                                    </a>
                                    <p>
                                        <%= recipe.description %>
                                    </p>
                                    <p class="hiddenData">
                                        <%= recipe.category %>
                                    </p>
                                    <% if (recipe.category=="Drinks" ) {%>
                                        <p>
                                            <%=recipe.alcoholic%>

                                        </p>
                                        <% } %>
                                </div>
                    </div>
                </div>
                <% }); %>

        </div>
        <script>
            let ofAgeCheck =  <% is21 %>
                console.log(ofAgeCheck);

        </script>
    </body>


    <%- include('footer.ejs') %>